/3rdparty/
/bin
/bin_*/
/build/
/build_*/
/install/
/install_*/
/lib
/.local
/windows_x32*/
/windows_x64*/
/astra15_x64*/
/astra16_x64*/
/ubuntu_x64*/
/sigma_a32*/
/zynq_a64*/
/raspberrypi_a32*/
/pr100_a32*/
/hybrid_a32*/
/android_a64*/
/CMakeLists.txt.user
/info.yml
/.vs/*
/.vscode/*
/.sync/
.idea/
deploy_linux.sh
deploy_windows_debug.cmd
deploy_windows_release.cmd
